@charset "UTF-8";

/*versão mobile first*/

*{
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,html{
    background-color: rgb(41, 41, 252);
    height: 100vh;
    width: 100vw;
  
}

section#login > div#imagem{
    background-image: url(../imagens/mar.jpg);
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

section#login{
    background-color: white;
    height: 600px;
    width: 350px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.609);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: width .3s,height .3s;
    transition-timing-function: ease;
}

section#login > div#formulario{
    padding: 10px;
    display: block;
}

section#login h1{
    text-align: center;
    margin-bottom: 10px;
}

section#login  p{
    font-size: .8em;
    margin-bottom: 25px;
    text-align: justify;
}

div.campo{
    background-color: rgb(88, 88, 230);
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

div.campo label{
    display: none;
}
form > input[type=submit]{
    background-color: rgb(70, 70, 250);
    color: white;
    font-weight: bold;
    height: 40px;
    width: 100%;
    display: block;
    font-size: 1.2em;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 10px;
}

form > input[type=submit]:active{
    background-color: rgb(0, 0, 112);
}
form > input[type=submit]:hover{
    background-color: rgb(0, 0, 112);
}
form > a.botao{
    display: block;
    text-align: center;
    width: 100%;
    border-radius: 50px;
    text-decoration: none;
    color: blue;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid blue;
}

form > a.botao:hover{
    
    background-color: rgb(197, 197, 255);
}
form > a.botao:active{
    
    background-color: rgb(197, 197, 255);
}